@import 'tailwindcss';
/* @import './style-layout.css'; */
@import './header.css';
@import './product.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/* @theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
} */
@theme {
    --font-sans: 
        'Inter',
        'Roboto',
        'Nunito Sans',
        'Helvetica Neue',
        Helvetica,
        Arial,
        sans-serif,
        'Segoe UI Emoji',
        'Apple Color Emoji',
        'Noto Color Emoji';
}

body {
    background-color: #F4F6F8;
}

/* Custom container width */
.container {
    max-width: 1250px !important;
}
